.projects {
  height: 100%;
  width: 100%;
  padding: 20px 60px;
  border: 1px solid gray;
  overflow-x: scroll;
}

.project_display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  column-gap: 20px;
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: auto;
  z-index: 0;
  background-color: gray;
  transition: height 0.5s ease-out;
}

.project:hover {
  background-color: lightgray;
  z-index: 10;
  height: 50vh;
  /* -webkit-transition: height 0.5s ease-out;
  -moz-transition: height 0.5s ease-out;
  -o-transition: height 0.5s ease-out;
  -ms-transition: height 0.5s ease-out; */
  transition: height 0.5s ease-out;
}
