html, body {
  background-color: rgb(248, 248, 248);
}

* {
  margin: 0px;
  font-family: "poppins-normal";
  padding: 0px;
  box-sizing: border-box;
}

.HP {
  overflow-y: scroll;
}
.homebutton {
  height: 50px;
  width: 200px;
  background-color: gray;
  border-radius: 10px;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.homebutton:hover {
  background-color: lightgray;
}

.body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@font-face {
  font-family: "poppins-regular";
  src: url("../../assets/fonts/poppins/Poppins-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "poppins-medium";
  src: url("../../assets/fonts/poppins/Poppins-Medium.ttf");
  font-style: normal;
}

@font-face {
  font-family: "poppins-semibold";
  src: url("../../assets/fonts/poppins/Poppins-SemiBold.ttf");
  font-style: normal;
}

.transform_background_color {
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  -ms-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
