.intro_container {
  width: 100%;
  height: 600px;
  /* height: calc(50% - 70px); */
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Inter-regular';
  background-color: white;
}

.intro_left_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  
  padding-left: 10vw;
  padding-top: 25vh;
}

.intro_left_header {
  margin: auto;
  font-size: 36px;
  font-family: "Inter-regular";
  width: 100%;
  color: #282A6A;
}

.intro_buttons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  padding-top: 40px;
}

.intro_button {
  height: 60px;
  width: 127px;
  background-color:#2D8AE0;
  border-radius: 34px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Inter-medium";
  border: none;
  box-sizing: unset;
  padding-top: 3px;
  padding-bottom: 3px;
  /*transition: transform 0.5s ease-out, background-color 0.2s ease-out,
    box-shadow 0.5s ease-out;*/
  box-shadow: rgba(0, 0, 0, 0.3) 2px 10px 15px 0px;
  outline: none;
}

.intro_button:hover {
  cursor: pointer;
  transform: translateY(-7px);
  background-color: white;
  color: black;
  box-shadow: rgba(8, 8, 8, 0.4) 0px 7px 29px 0px;
}

.students {
  /*background-color: rgb(15, 15, 15);*/
  color: white;
  width: 185px;
  margin-left: 40px;
}

.about_us_button {
  width: 240px;
  height: 71px;
}

.our_projects_button {
  width: 183px;
  height: 65px;
}

.intro_right_container {
  width: 80%;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: top;
  padding-top: 120px;
}

.thumbnail {
  height: 20vh;
  width: 20vw;
}

.offset_thumbnail {
  transform: translateX(50px) translateY(60px);
  background-color: rgb(0, 102, 255);
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 850px) {
  .intro_buttons {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .intro_button {
    height: 40px;
    width: 150px;
    border-radius: 2px;
    color: white;
    font-size: 19px;
    font-family: "poppins-medium";
    border: none;
  }

  .intro_container {
    height: 500px;
  }

  .intro_left_header {
    font-size: 20px;
  }
  .thumbnail {
    height: 100px;
    width: 100px;
  }
}

.intro_box {
  /*height: 200px;
  width: 300px;
  background-color: rgb(50, 101, 173);
  border-radius: 10px;
  margin: 15px;
  transition: all 0.5s ease-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  font-family: "Segoe UI, Tahoma, Geneva, Verdana, sans-serif";
  color: white;
  font-size: large;
  display: flex;
  align-items: center;
  flex-direction: column;*/

  background-image: url("../../assets/images/homepage_icon.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 315px;
  height: 272px;
  margin-right: 20px;
 
}
