/*.project_section {
  height: 50vh;
  width: 100%;
  padding: 20px;
  display: flex;
  background: white;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgb(212, 212, 212);
}

.project_header {
  text-align: center;
  font-family: "poppins-semibold";
  font-size: 26px;
  color: rgb(8, 8, 8);
}

.projects_container_home {
  overflow: hidden;
  width: 90%;
  height: 100%;
  /* border: 2px solid red; */
 /* margin: 5px auto;
  margin-top: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* named project_home to avoid name conflict with project page */
/*.project_home {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  background-color: rgb(32, 32, 32);
  margin: 30px;
  transition: all 0.3s;
}

.project_home:hover {
  background-color: rgb(40, 124, 250);
}

.more_projects {
  height: 40px;
  text-align: center;
  width: 170px;
  background-color: rgb(101, 0, 233);
  box-shadow: rgba(8, 8, 8, 0.4) 0px 7px 29px 0px;
  border-radius: 2px;
  color: rgb(243, 243, 243);
  font-size: 20px;
  font-family: "poppins-semibold";
  border: none;
  line-height: 40px;
  box-sizing: content-box;
  padding: 3px;
  outline: none;
}

.more_projects:hover {
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .project_section {
    height: 100vh;
  }
}
*/

.project_container {
  width: 100%;
  height: 2000px;
  flex-direction: column;
  display: flex;
  background: linear-gradient(179.98deg, #0B3766 1.04%, #6286AD 99.98%), #03254A;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  padding-top: 5vh;
}

.project_preview_container {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  padding-top: 7vh;
}


.project_thumbnail{
  background-color: #D9D9D9;
  border-radius: 30px;
  width: 350px;
  height: 350px;
}

.first{
  opacity: 0.5;
  transform:translateX(50px);
}

.third{
  opacity: 0.5;
  transform:translateX(-50px);
}

.numbers_container{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding-left: 7vw;
    padding-right: 7vw;
}

.numbers{
    font-size: 96px;
    font-family: "Inter-bold";
    color: #FFFFFF;
}

.subtitle{
    font-size: 24px;
    font-family: "Inter-regular";
    color: #FFFFFF;
}

.project_header_container {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  padding-top: 20vh;
}