.footer_container {
    height: calc(100% - 800px);
    width: 100%;
    margin-top: 280px;
}


.social_list{
    list-style: none;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_list > li {
    margin-right: 25px;
    width: 20px;
    height: 20px;
    color: rgb(0, 162, 255);
}

