.footer_container {
  height: 100px;
  width: 100%;
  margin-top: 40px;
  background-color: rgb(37, 37, 37);
}

.social_list {
  height: 100%;
  width: 100%;
  list-style: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_list > li {
  margin: 10px;
  width: 50px;
  height: 30px;
  color: rgb(245, 245, 245);
}
