.showcase {
  height: 100%;
  width: 100%;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  /* align-items: center;
  justify-content: space-between; */
  padding: 60px;
  overflow-y: scroll;
}

.showcase_intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.showcase_intro p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px;
  font-weight: bold;
}

.show_img {
  height: auto;
  width: auto;
}

.icon {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.circle {
  background-color: gray;
  height: 50px;
  width: 50px;
  margin: 5px;
  border-radius: 1000px;
}

.circle img {
  height: 100%;
  width: 100%;
  border-radius: 1000px;
}

.showcase_image {
  width: 100%;
  height: 50%;
}

.showcase_image img {
  height: 100%;
  width: 100%;
}

.showcase_about {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 850px) {
  .showcase {
    padding: 0px;
  }
  .showcase_about {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about {
    width: 100vw;
    overflow-y: scroll;
    margin-bottom: 35px;
    align-items: center;
    font-size: 13px;
    padding: 20px;
  }
  .showcase_intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .showcase_intro p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    font-weight: bold;
  }
  .showcase_image {
    width: 70%;
    height: 40%;
  }
}

.pic {
  width: 20%;
  padding: 10px;
}

.about {
  width: 100%;
  padding: 30px;
}

.date {
  width: 100%;
}

.project_img {
  width: 100%;
  height: 30%;
  background-color: gray;
}
