.navbar {
  height: 70px;
  display: flex;
  flex-direction: row;
  font-family: Segoe UI;
  box-sizing: content-box;
  /*border-bottom: 2px solid rgb(230, 230, 230);*/
  background-color: white;
}

.logo-container {
  width: 30%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.logo-container:hover {
  cursor: pointer;
}

.codeprentice-logo {
  background-image: url("../../assets/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 170px;
  margin-top: 20px;
  height: 50px;
}

.login-button {
  width: 100px;
  height: 40px;
  display: flex;
  text-decoration: none;
  background: #1C9CB8;
  margin-right: 30px;
  padding: 8px;
}

.login-button-text:hover {
  cursor: pointer;
}

/* .github-logo {
  filter: invert(1);
  background-image: url("../../assets/images/github_logo.png");
  height: 100%;
  width: 50px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
} */

.login-button-text {
  text-decoration: none;
  overflow: hidden;
  color: #FFFFFF;
  height: 100%;
  width: 100%;
  line-height: 28px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  transition: all 0.2s ease-out;
}

.options-container {
  margin-left: 40%;
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  float: right;
  line-height: 30px;
  height: 20px; 
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  border-radius: 5px;
  transform: translateX(0px);
  margin-right: 30px;
  color: #000000;
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item-underline {
  width: 0px;
  background-color: #000000;
  height: 1px;
}

.nav-item:hover .nav-item-underline {
  width: auto;
}

.transform-width {
  transition: width 0.5s;
}

.hamburger {
  cursor: pointer;
  display: none;
  margin-left: auto;
  margin-top: 10px;
  left: 90%;
  z-index: 2;
}
.line {
  margin: 2px;
  height: 7px;
  width: 50px;
  background-color: rgb(18, 155, 209);
}

@media screen and (max-width: 850px) {
  .hamburger {
    position: absolute;
    height: auto;
    width: auto;
    margin-top: 20px;
    /* left: 100%; */
    display: block;
  }
  .options-container {
    display: none;
  }
  .sidebar {
    position: absolute;
    left: 50%;
    opacity: 0.98;
    height: 100%;
    width: 50%;
    background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    z-index: 1;
    transition: height 1s ease-out;
  }

  .nav-item {
    font-size: large;
  }

  .content {
    filter: blur(2px);
  }
}
