* {
  margin: 0;
  padding: 0;
  font-family: "poppins-regular";
}

.main_heading {
  margin: 1.75% 5%;
  font-size: 70px;
}

.founder_heading {
  margin: 0 5%;
  font-size: xx-large;
}

.modal_member {
  position: absolute;
  left: 50%;
  height: 50vh;
  width: 100vh;
  background-color: beige;
}

.member_body {
  cursor: pointer;
}

.founder_members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 18px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 450px) {
  .founder_members {
    flex-direction: column;
  }
  .member_body {
    height: 350px;
    width: 350px;
    background-color: lightgray;
    border: black;
    margin: 15px;
    font-size: medium;
  }
}

.member_body {
  height: 350px;
  width: 350px;
  background-color: lightgray;
  border: black;
  margin: 15px;
  font-size: 12px;
  border-radius: 10px;
}

.upper_part {
  height: 32%;
  width: 350px;
  background-color: rgb(161, 161, 161);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.photo {
  height: 120px;
  width: 120px;
  background-color: rgb(105, 104, 104);
  border-radius: 50%;
  margin-top: -13%;
  margin-left: 33%;
}

.name {
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

.about {
  height: 38%;
  width: 350px;
  padding: 4px;
}

.member_photo {
  text-align: center;
  font-size: large; 
  padding: 30% 0;
}

.modal {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  height: 70vh;
  background: #C4C4C4;

}

.modal_background {
  margin-top: 21%;
  height: 53vh;
  background: #E8E8E8;
}

.modal_body {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.modal_body2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8%;
  padding-right: 8%;
}

.modal_desc {
  font-size: large;
  padding-left: 10%;
  padding-right: 10%;
}

.modal_desc2 {
  font-size: large;
  
}

.modal_photo {

  width: 180px;
  height: 180px;
  margin-top: -22%;
  border-radius: 50%;
  background: #8D8D8D;
  margin-left: auto;
  margin-right: auto;
 
  /*height: 80px;
  width: 80px;
  background-color: rgb(105, 104, 104);
  border-radius: 50%;
  margin: 20px;*/
}

.modal_heading {
  font-size: large;
  font-weight: bold;
  padding-bottom: 3%;
  padding-top: 3%;
}



.modal_name {
  font-size: large;
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 3%;
  text-align: center;
}

.modal_intro {
  display: flex;
  flex-direction: row;
}


.modal_socials {
  display: flex;
  flex-direction: row;
}
